.container {
    width: auto;
    border-radius: 4px;
    box-shadow: 1px 1px 6px 2px #ddd;
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 83, 119);
}
.image {
    border-radius: 4px;
}
.cardInfo {
    color: #fff;
    padding: 16px;
}
.cardInfo h3 {
    margin: 0;
}
.cardInfo p {
    margin: 0;
}